@import url(colores.css);

.container-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .container-items,
  .container-summary {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 30px;
    padding: 30px;
  }

  .container-items {
    padding: 10px;
    max-width: 700px;
  }
  
  .cart-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  
  .product-img {
    width: 100px;
  }
  
  .product-img img {
    width: 100%;
    height: auto;
  }
  
  .product-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .cart-item .product-brand,
  .cart-item .product-color,
  .cart-item .product-price {
    margin-bottom: 5px;
  }
  
  .summary-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .total {
    font-weight: bold;
    font-size: 24px;
  }

  .checkout-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    font-weight: bold;
  }

  .checkout-button a {
    margin-top: 10px;
    text-decoration: none;
    color: var(--color1);
    opacity: 0.7;
    font-weight: bold;
    transition: all;
    transition-duration: 200ms;
  }
  
  .checkout-button a:hover {
    opacity: 1;
    scale: 1.025;
  }

  @media (min-width: 768px) {
    .container-cart {
      flex-direction: row;
      align-items: flex-start;
    }
    .cart-item {
      flex-direction: row;
    }

  }

  @media (max-width: 1300px){

    .submenu2 {
      display: none;
      position: absolute; 
      top: 55%; 
      right: 0; 
      z-index: 1; 
      background-color: #DDE6ED; 
      border: 1px solid #ccc;
      padding: 10px; 
      list-style: none;
      border-radius: 5px;
      transition: 10s;
      font-size: 15px;
    }
    
    .submenu1:hover + .submenu2,
    .submenu2:hover {
      display: block; 
      color: #333;   
    }
    
    .submenu2 li a {
      color: black; 
      font-size: 12px;
    }
    
    .submenu2 li a:hover {
      color: #9DB2BF;
      font-size: 13px;
    }
    
    }