:root {
    --plt-darker: #27374D;
    --plt-dark:#526D82;
    --plt-light:#9DB2BF;
    --plt-lighter:#DDE6ED;
    --x-plt-1:#5176ad; 
    --x-plt-2:#a5b7d4;
    --x-plt-3:#24344c;
    --x-plt-4:#6c849c;
    --x-plt-5:#9cb4c4;
}

.main-reg {
    text-align: center;
    display:flex;
    flex-direction: column;
    padding: 24px 0;
}

.form-div {
    align-self: center;
    display:flex;
    flex-direction: column;
    text-align: justify;
    width: fit-content;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 2%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-div > h3 {
    display: flex;
    margin-bottom: 6px;
    justify-content: center;
    font-size: 1.5em;
}

.form-div > h4 {
    display: flex;
    justify-content: center;
    padding-top: 4px;
    margin-bottom: 4px;
    font-weight: 500;
}

.form-div > form {
    display: flex;
    flex-direction: column;
}

.txt-inp {
    margin-top: 6px;
    margin-bottom: 10px;
    width: 90%;
    border: 1px solid #ccc;
    padding: 6px 8px;
    border-radius: 4px;
}

.txt-inp:focus-visible {
    outline: var(--plt-darker) auto 1px;
}

.check-div > input {
    display: inline-flex;
    transform: scale(1.6);
    margin-right: 6px;
    accent-color: var(--plt-darker);
}
.padding{
    padding: 5px;
}

.check-div {
    color:black;
    padding: 6px;
}

button {
    transition: all .4s;
}
label {
    font-weight: 600;
}

.error{
    color: red;
    font-size: 14px;
}

.Registrarse{
    margin-top: 5px;
}

#reg-pr-btn {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--x-plt-3);
    color: white;
    margin-top: 15px;
}

#goog-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color:  var(--plt-darker);
    color: #fff;
    border: 6px outset var(--x-plt-3);
    border-radius: 5px;
    cursor: pointer;
}

#face-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color:  var(--plt-darker);
    color: #fff;
    border: 6px outset var(--x-plt-3);
    border-radius: 5px;
    cursor: pointer;
}

#reg-pr-btn:hover {
    border-color: var(--x-plt-2);
}

button:hover {
        opacity: 0.8;
}

@keyframes button-clicked {
    0% {
        
        border-width: 6px;
    }

    50% {
        background-color:  var(--plt-lighter);
        color:var(--plt-darker);
        border-width: 0px;
        
    }

}

@keyframes button-unclicked {
    0% {
        background-color:  var(--plt-lighter);
        color:var(--plt-darker);
        border-width: 0px;
        
    }

    100% {
        border-width: 6px;
        background-color:  var(--plt-darker);
        color: #fff;
        
    }

}

@media (min-width:520px) {
    .txt-inp {
        width: 400px;
    }

}

.main-header2{
    background-color: white;
    height: 100px;
    width: 100%;
  }
.main-header-top-bar2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logo-link {
  text-align: center;
}

.loginp {
  margin: 0;
  font-weight: bold;
}
